body { background-color: #444; width: 100%; height: 100%;}
a { text-decoration: underline; color: #FFF; display: inline-block; margin-bottom: 10px; }
canvas { display: block; background-color: transparent; }
.layer { position: relative; top: -600px;}
